<div class="sub-header p-relative">
        <div class="overlay overlay-bg-black"></div>
        <div class="pattern"></div>
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ng-template ngFor let-route [ngForOf]="">
                            <div class="sub-header-content p-relative">
                                <h1 class="text-custom-white lh-default fw-600">{{ route.displayName }}</h1>
                                <ul class="custom">
                                    <li><a routerLink="/" class="text-custom-white">Home</a></li>
                                    <li *ngIf="!route.terminal">
                                        <a href="" [routerLink]="[route.url]" class="text-custom-white">{{
                                            route.displayName }}</a>
                                    </li>
                                    <li *ngIf="route.terminal" class="text-custom-white active" aria-current="page">{{
                                        route.displayName }}</li>
                                </ul>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
