table {
    width: 100%;
    position: relative;
  }
  
  table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
    border-collapse: collapse;
    font-family: Arial, sans-serif; /* Change the font family here */
  }
  
  table td, table th {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px; /* Change the font size here */
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.style{
    font-family: Arial, sans-serif;
    font-size: 14px; /* Change the font size here */
}  